<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="https://allaravel.com/tutorials/vuejs-framework/khoa-hoc-vue-js-2-mien-phi/"
                    @click.prevent="courseClick">Khóa học Vue.js miễn phí</a>
            </div>
            <div class="col-md-12" v-if="show">
                <div class="list-group">
                    <a :href="tut.url" class="list-group-item" v-for="tut in tutorials"
                        target="_blank">{{tut.title}}</a>
                </div>
            </div>
            <div class="col-md-12">
                <a href="https://allaravel.com/tutorials/vuejs-framework/khoa-hoc-vue-js-2-mien-phi/"
                    target="_blank">Khóa học Vue.js miễn phí</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Thay đổi sự kiện gốc trong Vue.js, cũng là thẻ a bạn hãy nhấp thử hai liên kết trên để trải nghiệm
                </p>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                show: false,
                tutorials: [{
                        title: '1.1 Giới thiệu framework Vue.js',
                        url: 'https://allaravel.com/tutorials/vuejs-framework/gioi-thieu-framework-vue-js/'
                    },
                    {
                        title: '1.2 Cài đặt môi trường Vue.js',
                        url: 'https://allaravel.com/tutorials/vuejs-framework/cai-dat-moi-truong-vue-js/'
                    },
                    {
                        title: '1.3 Công cụ sử dụng trong phát triển Vue.js',
                        url: 'https://allaravel.com/tutorials/vuejs-framework/cong-cu-su-dung-trong-phat-trien-vue-js/'
                    },
                    {
                        title: '2.1 Cú pháp câu lệnh',
                        url: 'https://allaravel.com/tutorials/vuejs-framework/mau-cu-phap-cau-lenh-trong-vue-js/'
                    },
                    {
                        title: '2.2 Cú pháp điều kiện v-if, v-show',
                        url: 'https://allaravel.com/tutorials/vuejs-framework/cau-lenh-dieu-kien-v-if-va-v-show/'
                    },
                ]
            },
            methods: {
                courseClick: function(){
                    this.show = !this.show;
                }
            } 
        })
    </script>
</body>

</html>